"cancel"
LIST_CMD = ""       #Default is "list"
SEARCH_CMD = ""     #Default is "search"
STATUS_CMD = ""     #Default is "status"
STATS_CMD = ""      #Default is "stats"
HELP_CMD = ""       #Default is "help"
CLONE_CMD = ""      #Default is "clone"
COUNT_CMD = ""      #Default is "count"
YTDL_CMD = ""      #Default is "ytdl"
YTDLZIP_CMD = ""   #Default is "ytdlzip"
QBMIRROR_CMD = ""   #Default is "qbmirror"
QBZIP_CMD = ""      #Default is "qbzipmirror"
QBUNZIP_CMD = ""    #Default is "qbunzipmirror"

#Leech Related CMDs
LEECH_CMD = ""      #Default is "leech"
LEECHSET_CMD = ""   #Default is "leechset"
SETTHUMB_CMD = ""   #Default is "setthumb"
UNZIPLEECH_CMD = "" #Default is "unzipleech"
ZIPLEECH_CMD = ""   #Default is "zipleech"
QBLEECH_CMD = ""    #Default is "qbleech"
QBUNZIPLEECH_CMD = "" #Default is "qbunzipleech"
QBZIPLEECH_CMD = ""    #Default is "qbzipleech"
YTDLLEECH_CMD = ""    #Default is "ytdlleech"
YTDLZIPLEECH_CMD = "" #Default is "ytdlzipleech"
CANCEL_ALL_CMD = "" #Default is  "cancelall
DELETE_CMD = ""     #Default is "del"

# RSS Realted Commands
RSSLIST_CMD = ""
RSSGET_CMD = ""
RSSSUB_CMD = ""
RSSUNSUB_CMD = ""
RSSSET_CMD = ""
ADDLEECHLOG_CMD = ""
RMLEECHLOG_CMD = ""
